html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container {
    position: relative;
    width: 650px;
    margin: auto;
    padding: 32px 8px 16px;
    box-sizing: border-box;
}
.sp-count-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #009688;
}
.task-properties-container {
    margin: 16px auto;
}
.task-property {
    margin-bottom: 32px;
}
.task-property-name {
    font-size: 20px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
}
.task-property-values {
    display: flex;
    justify-content: space-between;
}
.task-property-value {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #ddd;
    transition: color .3s ease;
}
.task-property-value input {
    display: none
}
.task-property-value span {
    font-size: 30px;
    user-select: none;
}
.task-property-value input:checked + span {
    color: #000;
}
.sp-count-description {
    font-size: 15px;
    margin-top: 8px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    font-style: italic;
}
.github-link {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
}
.github-link img {
    width: 100%;
    height: 100%;
}
li {
    margin-bottom: 8px;
}
