/* how-many-sp specific styles */

h4 {
    font-weight: 700;
}

.task-properties-container {
    margin: var(--spacing-md) auto;
}


.sp-count-description {
    font-size: 15px;
    margin-top: var(--spacing-xs);
    line-height: 18px;
    height: 18px;
    text-align: center;
    font-style: italic;
    color: var(--text-secondary);
}

li {
    margin-bottom: 8px;
}
